<div class="container">
  <form method="post" action="/add_albums">
    <ul>
      <li>
        <input type="text" name="name" placeholder="Album Name"/>
      </li>
      <li>
        <input type="submit" value="Submit"/>
      </li> 
    </ul>
  </form>
</div>