<div class="container">
  <form method = "post" action="/album/<%=@album.id%>/upload" enctype="multipart/form-data">
    <input type="file" name="myfile"/>
    <input type="submit" value="upload"/>
  </form>
</div>